NEXT_PUBLIC_SUPABASE_URL="URL"
NEXT_PUBLIC_SUPABASE_ANON_KEY="KEY"

MLAI_API_KEY="KEY"
SPEECHMATIC_API_KEY="KEY"
BRIGHTDATA_API_KEY="KEY"

GITHUB_APP_ID="ID"
GITHUB_APP_PRIVATE_KEY="KEY"

SAMPLE_USER_ID="SAMPLE_USER_ID"
PET_ID="SAMPLE_PET_ID";